// The beautiful, natural, lush, and rich colors of the great Pacific Northwest

// waters of the pacific
@pacific-waters: #2b3f6a;
@puget-sound: #005580;
@columbia: rgb(37, 95, 147);
@willamette: #0086b3;
@multnomah-falls: #80d4ff;
@cascade-creek: rgb(110, 125, 170);

// forests of the northwest
@coastal-rainforests: #004d00;
@cascadian-woods: #006600;
@northern-pines: #29704d;
@sequoia: #663300;
@red-cedar: #993300;
@redwood: #734d26;
@douglas-fir: #805500;
@western-hemlock: rgba(227, 169, 45, 0.1);

// beaches of the coast
@haystack-rock: rgb(42, 18, 10);
@sauvie-island: #c0b4a5;
@cannon-beach: #dcd3bc;
@puget-shore: rgb(224, 218, 211);
@seaside: #f8f6f1;

// mountains of the cascades
@st-helen: #1e1e08;
@bachelor: rgba(102, 112, 127, 0.61);
@hood: rgba(169, 193, 214, 0.70);
@adams: rgba(220, 211, 188, 0.2);
@rainier: #9ca3b0;
@cascade-snow: white;

// and...
// git colors
@git-removed: rgb(215, 56, 56);
@git-added: rgb(9, 192, 3);
@git-modified: rgb(255, 199, 34);
@git-renamed: rgb(53, 168, 233);
